<form asp-action="Index">
    <label>Full Name: </label>
    <input type="text" placeholder="Enter Full name" name="fName"> </br> </br>
    <label>Email:</label>
    <input type="email" placeholder="Enter Email" name="mEmail"> </br> </br>
    <button type="submit">Send</button>
    <h1>@ViewBag.thongBao</h1>
    <h2>Duong Khanh Diem - 2021050130</h2>
</form>
                   