<form asp-action="Index">
    <label>Nhap vao ho ten: </label>
    <input type="text" placeholder="Nhap ho ten" name="hoTen"> </br> </br>
    <label>Nhap tuoi:</label>
    <input type="text" placehoder="Nhap so tuoi" name="tuoi"> <br><br>
    <button type="submit">Send</button>
    <h1>@ViewBag.thongBao</h1>
    <h2>Duong Khanh Diem - 2021050130</h2>
</form>
                   